@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    font-family: 'Press Start 2P',sans-serif;
    background-color: #000014;
    color: #fff;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
        font-size: 20px;
    }
    img.face{
        width: 15%;
        border-radius: 50%;
        border: 3px solid rgb(31, 154, 211);
    }
    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        a.link{
            min-width: 35%;
            padding: 16px 0;
            border-radius: 13px;
            text-decoration: none;
            color: #fff;
            display: flex;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            margin: 23px auto;

            img{
                width: 10%;
                margin-right: 13px;
            }
        }
        
        a.twitter{
            background-color:  #1DA1F2;
        }
        a.twitch{
            background-color: #9146ff;
        }
        a.github{
            background-color:#24292e;
        }
        a.youtube{
            background-color: #ff0000;
        }
        a.linkedin{
            background-color: #48B5F0;
        }
        a.ctrlplay{
            background-color: #e46a03;
            padding: 23px 0;
            img{
                width: 25%;
            }
        }
    }
}
@media(max-width:800px){
    main{
        img.face{
            width: 30%;
        }
        h2{
            font-size: 16px;
            margin: 0 auto;
        }
        .links{
            a.link{
                width: 80%;
                padding: 13px 23px;
            }
        }
    }
    
}